.profile-button {
    display: flex;
    width: 94px;
    align-items: center;
    transition: opacity .2s ease-in-out;
    justify-self: end;
    opacity: 1;
}

.profile-button:hover {
    opacity: .5;
}

.profile-button__name {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: white;
    text-decoration: none;
    margin: 0;
}

.profile-button__sym {
    height: 30px;
    width: 30px;
    background-color: rgba(49, 49, 49, 1);
    background-image: url("../../../images/profile-sym.svg");
    background-repeat: no-repeat;
    border-radius: 6px;
    background-position: center;
    margin-left: 13px;
}