.main__heading-container {
    border-bottom: 1px solid rgba(255, 255, 255, .6);
    margin: 23px auto 0;
}

.main__subheading {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
}

@media screen and (max-width: 320px) {
    .main__heading-container {
        margin: 28px auto 0;
    }

    .main__subheading {
        font-size: 18px;
        line-height: 22px;
    }
}