.nav-menu {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    min-width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
}

.nav-menu_opened {
    visibility: visible;
    opacity: 1;
}

.nav-menu__container {
    height: 100vh;
    width: 68%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.nav-menu__link-container {
    display: flex;
    flex-direction: column;
    height: max-content;
}

.nav-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin: 28px 0 0;
}

.nav-menu__link:first-of-type {
    margin-top: 159px;
}

.nav-menu__button-container {
    align-self: center;
    margin-bottom: 92px;
}

.nav-menu__close-button {
    position: fixed;
    background-image: url("../../images/close-button.svg");
    height: 22px;
    width: 22px;
    top: 22px;
    right: 22px;
    z-index: 2;
    background-position: center;
}