.movies-card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 364px);
    column-gap: 24px;
    row-gap: 37px;
    max-width: 1140px;
    margin: 70px auto 0;
}

.movies-card-list__preloader {
    grid-column: 2;
}