.techs {
    background-color: rgba(39, 39, 39, 1);
    width: 100%;
    padding-top: 100px;
}

.techs__subheading {
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: 90px 0 26px 0;
}

.techs__paragraph {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
}

.techs__container {
    display: flex;
    max-width: 690px;
    height: max-content;
    margin: 100px auto 0 auto;
    padding-bottom: 100px;
    justify-content: space-between;
}

.techs__card {
    background-color: #303030;
    border-radius: 10px;
    width: 90px;
    height: 60px;
    display: flex;
}

.techs__card-name {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    margin: auto auto;
    padding: 0;
}