.header {
    color: white;
    background-color: rgba(7, 48, 66, 1);
    height: 74px;
    width: 100%;
    display: flex;
}

.header__logo {
    width: 38px;
    height: 38px;
    background-image: url('../../images/header_sym.svg');
    align-self: center;
    margin-left: 70px;
}