.about-me {
    padding: 110px 0 100px 0;
    max-width: 1140px;
    margin: 0 auto;
}

.about-me__name {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    max-width: 600px;
    margin: 0 0 18px 0;
    padding: 0;
    grid-row: 1;
}

.about-me__post {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 600px;
    margin: 0 0 26px 0;
    padding: 0;
    grid-row: 2;
}

.about-me__paragraph {
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
    margin: 0 0 99px 0;
    padding: 0;
    grid-row: 3;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    background-size: contain;
    object-fit: cover;
    grid-row: 1 / 5;
    justify-self: end;
    border-radius: 10px;
}

.about-me__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    grid-row: 4;
}

.about-me__link:first-of-type {
    margin-right: 20px;
}

.about-me__container {
    display: grid;
    margin-top: 66px;
}