.more-button {
    width: 100%;
    max-width: 1140px;
    height: 36px;
    padding: 0;
    margin: 50px auto 80px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: rgba(47, 47, 47, 1);
    display: block;
    transition: opacity .2s ease-in-out;
    opacity: 1;
}

.more-button:hover {
    opacity: .5;
}